<%= form_for @account_receivable, :html => { :class => "form-horizontal account_receivable" } do |f| %>
    <%= f.hidden :format, value: :xls %>
    <% if @account_receivable.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@account_receivable.errors.count, "error") %> prohibited this account_receivable from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @account_receivable.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'form-control' %>
    </div>
    <%= error_span(@account_receivable[:location]) %>
  </div>
  <div class="control-group">
    <%= f.label :invoice_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :invoice_date, :class => 'form-control' %>
    </div>
    <%= error_span(@account_receivable[:invoice_date]) %>
  </div>
  <div class="control-group">
    <%= f.label :invoice_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :invoice_number, :class => 'form-control' %>
    </div>
    <%= error_span(@account_receivable[:invoice_number]) %>
  </div>
  <div class="control-group">
    <%= f.label :amount_billed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount_billed, :class => 'form-control' %>
    </div>
    <%= error_span(@account_receivable[:amount_billed]) %>
  </div>
  <div class="control-group">
    <%= f.label :amount_received, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount_received, :class => 'form-control' %>
    </div>
    <%= error_span(@account_receivable[:amount_received]) %>
  </div>
  <div class="control-group">
    <%= f.label :due_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :due_date, :class => 'form-control' %>
    </div>
    <%= error_span(@account_receivable[:due_date]) %>
  </div>
  <div class="control-group">
    <%= f.label :purchase_order, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :purchase_order, :class => 'form-control' %>
    </div>
    <%= error_span(@account_receivable[:purchase_order]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            account_receivables_path, :class => 'btn btn-default' %>

<% end %>
