<%- model_class = AccountReceivable -%>
<div>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= paginate @account_receivables, theme: 'twitter-bootstrap-3', pagination_class: "pagination-sm" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Inv. No.</th>
      <th>Inv. Date</th>
      <th>Billed</th>
      <th>Received</th>
      <th>Outstanding</th>
      <th>Due Date</th>
      <th>PO</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @account_receivables.each do |account_receivable| %>
      <tr>
        <td><%= link_to account_receivable.invoice_number, account_receivable_path(account_receivable) %> <%=  %></td>
        <td><%= account_receivable.invoice_date %></td>
        <td><%= account_receivable.amount_billed %></td>
        <td><%= account_receivable.amount_received %></td>
        <td><%= account_receivable.amount_outstanding %></td>
        <td><%= account_receivable.due_date %></td>
        <td><%= account_receivable.purchase_order %></td>
        <td>
          <%= link_to 'e',
                      edit_account_receivable_path(account_receivable), :class => 'btn btn-xs btn-default btn-xs' %>
          <%= link_to 'd',
                      account_receivable_path(account_receivable),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_account_receivable_path,
            :class => 'btn btn-primary' %>
